<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>PISAY Webpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--  <style>   data-spy="affix"
      .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  </style>-->
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">PISAY Webpage</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="{% url 'about' %}">About</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'person:attendance' %}">Attendance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'person:attendance' %}">Time In/Time Out</a></li>
            <li><a href="{% url 'person:infractions' %}">Infractions</a></li>
            <li><a href="{% url 'person:log' %}">Personal Attendance Log</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'library:borrow' %}">Library <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'library:borrow' %}">Borrowing</a></li>
            <li><a href="{% url 'library:log' %}">Personal Library Card</a></li>
            <li><a href="{% url 'library:search' %}">Search Book</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'canteen:consumable' %}">Canteen<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'canteen:balance' %}">Balance</a></li>
            <li><a href="{% url 'canteen:consumable' %}">Consummable List</a></li>
            <li><a href="{% url 'canteen:reload' %}">Reload</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'laboratory:material' %}">Laboratory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'laboratory:material' %}">Borrow Lab Materials</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'new_user:Student' %}">Create New User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'new_user:Student' %}">Create Student</a></li>
            <li><a href="{% url 'new_user:Teacher' %}">Create Teacher</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
   <div class="jumbotron text-center">
    {% block titleIN %}
      <h1>PISAY Webpage</h1>
      <p>An easier way for manual processes.</p> 
    {% endblock titleIN %}
   </div>

   
  <div class = "container">
    <div class="panel-heading" id="title">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
   
  {% block section %}
   <div class="container">
    <div class="row">
      <div class="col-sm-4">
      {% block columns %}
        <h3>Attendance</h3>
        <p>An easy to use time-in, time-out tracking system</p>
      {% endblock columns %}
      </div>
      <div class="col-sm-4">
        {%block columns2%}
        <h3>Laboratory and Library</h3>
        <p>Tired of manually looking for a book or laboratory materials you wanted to check out?</p>
        <p>Use the app to search for available books and laboratory materials</p>
        {% endblock columns2 %}
      </div>
      <div class="col-sm-4">
        {% block columns3 %}
        <h3>Canteen</h3>        
        <p>Track and Pay using your reloadable ID Card</p>
        {% endblock columns3 %}
      </div>
    </div>
  </div>

  <br><br>

  <div class="container"> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'images/pisay1.jpg' %}" alt="Pisay1" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'images/pisay2.jpg'%}" alt="Pisay2" style="width:100%;">
          </div>
        
          <div class="item">
            <img src="{% static 'images/pisay3.jpg'%}" alt="Pisay3" style="width:100%;">
          </div>

          <div class="item">
            <img src="{% static 'images/pisay4.jpg'%}" alt="Pisay4" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>

  <div id="contact" class="container">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Davao, Philippines</p>
        <p><span class="glyphicon glyphicon-phone"></span> +639123456789</p>
        <p><span class="glyphicon glyphicon-envelope"></span> jabiel@something.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock section %}


  <br><br>

</body>
</html>

