{% extends 'static/base.html' %}

  {% block titleIN %}
    <h2>PISAY Webpage</h2>
    <p>An easier way for manual processes.</p> 
  {% endblock titleIN %}}

  {% block content %}
  {% load static %}
    <div id="about" class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>About PISAY Webpage</h2><br>
          <h4>This makes manual processes much easier for you and the school.</h4><br>

          <p>Your attendance, your library experiences, and etc. are normally done manually through the staff in each facility. With this program, it'll make your experiences much quicker and more personalized.</p>
          <br><button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
      </div>
    </div>

    <br><br>

    <div id="bio" class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>About Company Bio</h2><br>
          <h4> We are a triad of Computer Science students working on this project in order to pass. This project was supervised by Mr. Gus Kali of Philippine Science High School - Southern Mindanao Campus.</h4><br>
        </div>
      </div>
    </div>
  {% endblock content %}

