{% extends 'static/base.html' %}
    
    {% block titleIN %}
        <h2>Canteen</h2>
    {% endblock titleIN %}

    {% block content %}
    <div id="buttons"> 
      {% if user_exists %}
        <div id='result'>
          <h4>Name: {{ user_exists }}</h4>
        </div>
      {% else %}
        <div id='result'>
          <h4>User Balance</h4>
        </div>
      {% endif %}

    </div>
    <div id="attend_in">

      <form class="form-signin" method="POST">
        {% csrf_token %}
        <div class="col-md-12">
          <div class="col-md-12">
            <input type="text" name="ID-number" placeholder="Enter ID Number" class="form-control">
          </div>
          {% if balance %}
            <div class="col-md-12" class="col-md-12" style="margin-top: 10px;">
              <h4>Current Balance: {{ balance }}</h4>
            </div>
          {% endif %}
        </div>
      </form>

    </div>

  {% endblock content %}
  {% block section %}
  {% endblock section %}