{% extends 'static/base.html' %}
{% load django_tables2 %}
  {% block titleIN %}
    <h2>Canteen</h2>
  {% endblock titleIN %}

  {% block content %}
   
    {% load static %}

    <div id = "attend_in">
      <div class = "col-md-12">
        <div class = "col-md-12">
          <input type = "text" name = "ID-number" placeholder = "Enter ID Number" class = "form-control">

          {% if consumables %}
            {% render_table consumables %}
          {% endif %}
          
          <br>

        </div>
      </div>
    </div>



  {% endblock content %}
  {% block section %}
  {% endblock section %}